<h1><%= @task.title %></h1>

<%= link_to "Edit", edit_path(@task.id), class: "btn btn-primary" %>
<%= link_to "Delete", delete_path(@task), class: "btn btn-danger",
      method: :delete,
      data: { confirm: "Are you sure?" } %>
<p>
  <%= @task.details %>
</p>
<p>
  Completed?
  <%= @task.completed %>
</p>

<%= link_to 'Back', tasks_path %>
